<div class="container">
  <h2> Nový doklad: </h2>
  <%= simple_form_for @receipt do |f| %>
    <div class="form-inputs">
      <%= f.input :name, label: 'Číslo dokladu', required: :true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
      </div>
<% end %>
</div>